In [135]:
import pandas as pd
df = pd.read_csv("products.csv", sep=r'\s*,\s*',header=0, engine='python')

In [136]:
df['address'][0]

"['One Johnson & Johnson Plaza| New Brunswick| NJ US 08933']"

In [137]:
#helper method to parse out just state from address
def getState(address):
    for letter in range(len(str(address))):
        curr_char = address[letter]
        #next_index = list(address).index(letter)+1
        next_char = address[letter + 1]
        if((ord(curr_char)>64 and ord(curr_char)<91)and(ord(next_char)>64 and ord(next_char)<91)):
            return curr_char + next_char


#delete city
#state = getState(df['address'][1])
#df = df.replace(df['address'][1],state)

#df

for index in range(len(df['address'])):
    state = getState(df['address'][index])
    df = df.replace(df['address'][index],state)

df
#get length of URL

     rank address                        website
0       0      NJ                ['www.jnj.com']
1       1      VA          ['www.nestleusa.com']
2       2      NE  ['www.berkshirehathaway.com']
3       3      VA             ['www.nestle.com']
4       4      NY          ['www.lorealusa.com']
..    ...     ...                            ...
330   330      NJ            ['www.valeant.com']
331   331      MN             ['www.hormel.com']
332   332      TX           ['www.fritolay.com']
333   333      OH       ['www.bigheartpet.com/']
334   334      MA   ['www.showcasecinemas.com/']

[335 rows x 3 columns]

In [140]:
#add the length of URL
df.insert(3,'url Length',df['rank'], True)

for index in df['url Length']:
    df['url Length'][index] = len(df['website'][index])
df

KeyError: 'url Length'

In [142]:
#see thelocation of these companies

df.address.value_counts()

NY    92
NJ    34
IL    25
CA    21
FL    17
TX    15
OH    14
VA    11
MI    10
PA     9
IN     8
MN     8
MA     6
CT     5
WI     5
WA     5
AR     5
MD     5
NC     4
NE     4
FR     4
UK     3
MO     2
ON     2
IT     2
DE     2
RI     2
OR     1
GA     1
NL     1
CH     1
MX     1
NM     1
ZA     1
NZ     1
US     1
CO     1
DC     1
NH     1
TN     1
IA     1
JP     1
Name: address, dtype: int64